<!DOCTYPE html>
<html lang="en"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Your Online Study Platform</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">

<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

<script src="/scripts/addField.js" defer></script>

</head>
<body id="page-give-classes">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                <img src="/images/icons/back.svg" alt="Back">
                </a>
                <img src="/images/logo.svg" alt="Proffy">

            </div>

            <div class="header-content">
                <strong>It's amazing that you want to teach</strong>
                <p>The first step is to subscribe using the form below</p>
            </div>
        </header>

        <main>
            <form action="" id="create-class">
                <fieldset>
                    <legend>Your info</legend>

                    <div class="input-block">
                        <label for="name">Name</label>
                        <input name="name" id="name" required>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Your photo link <small>(start with https://)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Whatsapp<small>(just numbers)</small></label>
                        <input name="whatsapp" id="whatsapp" type="number" required>
                    </div>
                    <div class="textarea-block">
                        <label for="bio">Biography</label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>

                                    
                </fieldset>

                <fieldset>
                    <legend>About the class</legend>
                    <div class="select-block">
                        <label for="subject">Subject</label>
                        <select name="subject" id="subject" required>
                            <option value="">Select...</option>
                            <option value="1">Art</option>
                            <option value="2">Biology</option>
                            <option value="3">Science</option>
                            <option value="4">Gym</option>
                            <option value="5">Physics</option>
                            <option value="6">Geography</option>
                            <option value="7">History</option>
                            <option value="8">Math</option>
                            <option value="9">English</option>
                            <option value="10">Chemistry</option>
                        </select>

                    </div>
                    <div class="input-block">
                        <label for="cost">Class price per hour
                            <small>
                                ($)
                            </small>
                        </label>
                        <input type="cost" id="cost" type="number" required>

                    </div>

                </fieldset>

                <fieldset id="schedule-items">
                    <legend>Available hours
                        <button type="button" id="add-time">+Add time</button>
                    </legend>
                
                <div class="schedule-item">
                    <div class="select-block">

                        <label for="weekday">Weekday</label>
                        <select name="weekday[]" required>
                            <option value="0">Select...</option>
                            <option value="1">Sunday</option>
                            <option value="2">Monday</option>
                            <option value="3">Tuesday</option>
                            <option value="4">Wednesday</option>
                            <option value="5">Thursday</option>
                            <option value="6">Friday</option>
                            <option value="7">Saturday</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time-from">From</label>
                        <input type="time" name="time-from[]" required>
                    </div>
                    <div class="input-block">
                        <label for="time-to">To</label>
                        <input type="time" name="time-to[]" required>
                    </div>
                </div>
          
                
                </fieldset>

            </form>

            <footer>
                <p>
                    <img src="/images/icons/warning.svg" alt="Warning">
                    Warning! <br>
                    All fields must be completed
                </p>
                <button type="submit" form="create-class">Save</button>
            </footer>

        </main>

    </div>
</body>
</html>